<%= form_for(@title, @issue_range) do |f| %>
  <% if @issue_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_range.errors.count, "error") %> prohibited this issue_range from being saved:</h2>

      <ul>
      <% @issue_range.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :low %><br />
    <%= f.number_field :low %>
  </div>
  <div class="field">
    <%= f.label :high %><br />
    <%= f.number_field :high %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
