<body>

<div class="form-inline" id="new-title-form">
<%= form_for(@title, :remote => true) do |f| %>

    <% if @title.errors.any? %>
        <div id="error_explanation">
        <h4>Please resolve <%= pluralize(@title.errors.count, "error") %> to save this item:</h4>
        <ul>
        <% @title.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :publisher %>
    <%= collection_select(:title, :publisher_id, Publisher.all, :id, :name) %>
    <button type="submit" id="add-button" class="btn">Add</button>
    <button type="cancel" id="done-button" class="btn">Done</button>
<% end %>
</div>
</body>