<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @title.name %>
</p>

<p>
  <b>Publisher:</b>
  <%= @title.publisher %>
</p>

<h2>Issues</h2>
<% @title.issues.each do |issue| %>
  <p>
   <b>Issue:</b>
   <%= issue.number %>
   <%= link_to 'Edit Issue', edit_title_issue_path(issue) %>
  </p>
<% end %>

<h2>Add an issue:</h2>
<%= form_for([@title, @title.issues.build]) do |f| %>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Add a bunch of issues:</h2> 

<%= form_tag("/title/4/issues", :method => "post") do %>
   <%= label_tag(:ranges, "Enter your issue range:") %>
   <%= text_field_tag(:ranges) %>
   <%= submit_tag("Create") %>
<% end %>   

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
